/*CSS DOCUMENT */


body {
	@import url(https://fonts.adobe.com/fonts/bilo);
	background-color: #f9f5e5;
	color: #333333;
	font-family: bilo,sans-serif;
	font-size: 1em;
}



div.container {
	max-width: 35em;
	margin: auto;
	
	padding: 1em;
}

img {
	width: 35em;
	
}

figure {
	margin: 1em 0;
}

h1, h2, h3, h4, p, ul, ol, li {
	margin: .3rem 1rem 0rem 0rem; 
	padding:.1rem; 
	font-size: 1em; 
	font-weight: normal;
}

h1 {
	font-size: 2.5em; 
	font-weight: bold;
}

h2 {
	font-size: 2em; 
	font-weight: _____;
}

h3 {
	font-size: 1.5em; 
	font-weight: _____;
}
